* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes firework {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("./background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#phao01,
#phao03,
#phao02 {
    width: 40vw;
    animation: firework 2s ease-in-out infinite;
}

@keyframes zoomBlur {
    0% {
        transform: scale(0);
        border-radius: 50%;
        filter: blur(0);
    } 50% {
        transform: scale(1.5);
        filter: blur(0);
    } 100% {
        filter: blur(4px);
    }
}

.user01 {
    z-index: 0;
    position: absolute;
    width: 60vw;
    transform: scale(1.5);
    border-radius: 50%;
    animation: zoomBlur 3s ease-in-out;
    filter: blur(4px);
}

@keyframes pic {
    from {
        transform: scale(2) rotate(4deg);
        filter: blur(4px);
    } to {
        transform: scale(1) rotate(4deg);
        filter: blur(0);
    }
}

.user02 {
    z-index: 1;
    position: absolute;
    top: 16vh;
    left: 20vw;
    width: 70vw;
    transform: rotate(4deg);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(253, 46, 80);
    animation: pic 2s ease-out;
}

@keyframes cake {
    from {
        transform: rotate(-4deg);
    } to {
        transform: rotate(4deg);
    }
}

.cake {
    z-index: 2;
    position: absolute;
    top: 50vh;
    width: 90vw;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgb(253, 46, 80);
    animation: cake 1s linear infinite alternate;
}